@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.img {
    height: 200px;
    width: 500px;
}

.backg1 {

    list-style: none;
    margin: 0;
    background-color: black;
    color: white;
    gap: 24px;
    padding: 10px;
    text-align: center;
    padding-top: 20px;
    width: 100wh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;


}

.img {
    background-image: url("https://plus.unsplash.com/premium_photo-1677567996070-68fa4181775a?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfH");
    height: 350px;
    width: 500px;
    background-size: cover;
}

.para {
    color: black;
    margin-top: 10px;
    text-align: center;
    background-color: grey;
    display: flex;
    justify-content: center;
    width: 200px;
    margin-left: 150px;
    padding: 3px;
    border-radius: 5px;
}

.heading {
    font-size: 24px;
    margin-left: 10px;
    text-align: center;

}

.para1 {
    text-align: center;

    font-style: italic;
}

.para2 {
    margin-left: 10px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;


}

.section {
    background-image: url("https://images.unsplash.com/photo-1586075010923-2dd4570fb338?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfH");
    background-size: cover;
    height: 100vh;


}

.container {
    background-color: grey;
    margin-top: 10px;
    border-radius: 10px;
    gap: 5px;

}

.heading1 {
    font-size: 24px;
    font-style: italic;
    color: white;

}

.mokin-img {
    height: 200px;
}

.button2 {
    margin-top: 5px;

}

.button-cont {
    text-align: center;
}